:root {
    --primary-color: #16181D;
    --secondary-color: rgba(214, 163, 11, 0.816);
    --tiertiary-color: rgba(162, 123, 5, 0.936);
    --light-gray: #ECF0F1;
    --dark-gray: #16181D;
    --error-red: #E74C3C;
    --success-green: #2ECC71;
    --transition-speed: 0.3s;
  }

.contact_card_container {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    padding: 2em;
    border: 1px solid #c5c5c5;
    border-radius: 12px;
    background-color: #1B1F26;
}

.contact_card_container input,
.contact_card_container select,
.contact_card_container textarea,
.contact_card_container button {
    padding: 14px 18px;
    margin-bottom: 18px;
    border: .5px solid var(--primary-color);
    border-color: none;
    border-radius: 6px;
    font-size: 17px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact_card_container input:focus,
.contact_card_container textarea:focus,
.contact_card_container select:focus {
    border: 1px solid var(--secondary-color);
    box-shadow: var(--secondary-color);
    outline: none;
}

.contact_card_container button {
    background-color: #bf8d1a;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.4s;
}

.contact_card_container button:hover {
    background-color: #c1b319;
}

.successMessage {
    color: #20c997;
    margin-bottom: 18px;
    text-align: center;
    font-weight: 600;
}


.contact_card_container input::placeholder {
    color: #a9a9a9;
}

