:root {
  --primary-color: #16181D;
  --secondary-color: rgba(214, 163, 11, 0.816);
  --tiertiary-color: rgba(162, 123, 5, 0.936);
  --thecolor: rgb(179, 136, 9);
  --light-gray: #ECF0F1;
  --dark-gray: #2C3E50;
  --error-red: #E74C3C;
  --success-green: #2ECC71;
  --transition-speed: 0.3s;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .titleSearch {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
  }
  
  .search input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    width: 200px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
  }
  
  .search input[type="text"]:focus {
    border-color: #d6a30bd0;
  }
  
  .search_icon {
    margin-top: 10px;
    cursor: pointer;
    color: #333;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .search_icon:hover {
    color: #d6a30bd0;
  }
  
  .searchTitleResponse {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-top: 20px;
    text-align: center;
  }
  
  .carImageCard {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .input-container{
    display: flex;
    /* width: 70%; */
    align-items: center;
    justify-content: space-around;
  }
  .filter_btn{
    border: none;
    background-color: #d6a30bd0;
    border-radius: 22px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .year-container>select{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    width: 200px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
    background-color: white;
    color: grey;
    cursor: pointer;
}

.radio-sold-btns-container {

}
/* .w_so_top_left_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.radio-sold-btns-container label{
justify-content: center;
align-items: center;
padding: 10px 10px;
border: #dcdbdb;
transition: all 0.3s;
background-color: #c3c1c19f;;
color: #333;
border-radius: 4px;
width: 59px;
cursor: pointer;
font-size: medium;
font-weight: bold;
margin-right: 10px;
}
.radio-sold-btns-container label:hover{
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.3s;
  border: #d6a30bd0;
  background-color: #d6a30bd0;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  width: 59px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  margin-right: 10px;
}

.radio-sold-btns-container input[type="radio"]{
  display: none;
  cursor: pointer;
}

.radio-sold-btns-container input[type="radio"]:checked + label {
  border: #d6a30bd0;
  background-color: #d6a30bd0 !important;;
  color: white;
  cursor: pointer;
}
.radio-sold-btns-container input[type="radio"]:checked + label:hover{
  border: #d6a30bd0;
  background-color: #d6a30bd0 !important;;
  color: white;
  cursor: pointer;
}
  
  
  