:root {
  --primary-color: #16181D;
  --secondary-color: rgba(214, 163, 11, 0.816);
  --light-gray: #ECF0F1;
  --dark-gray: #2C3E50;
  --error-red: #E74C3C;
  --transition-speed: 0.3s;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.titleSearch {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input_container input[type="text"],
.input_container select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px;
  width: 200px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
  background-color: white;
  color: grey;
  cursor: pointer;
}

.input_container input[type="text"]:focus,
.input_container select:focus {
  border-color: #d6a30bd0;
}

.filter_btn {
  border: none;
  background-color: #d6a30bd0;
  border-radius: 22px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter_btn:hover {
  background-color: #d6a30b;
}

.radio_sold_btns_container label {
  padding: 10px 10px;
  border: 1px solid #dcdbdb;
  transition: all 0.3s;
  background-color: #c3c1c19f;
  color: #333;
  border-radius: 4px;
  width: 59px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  margin-right: 10px;
}

.radio_sold_btns_container label:hover,
.radio_sold_btns_container input[type="radio"]:checked + label {
  border-color: #d6a30bd0;
  background-color: #d6a30bd0;
  color: white;
}

.radio_sold_btns_container input[type="radio"] {
  display: none;
  cursor: pointer;
}
