:root {
    --primary-color: #16181D;
    --secondary-color: rgba(214, 163, 11, 0.816);
    --tiertiary-color: rgba(162, 123, 5, 0.936);
    --light-gray: #ECF0F1;
    --dark-gray: #2C3E50;
    --error-red: #E74C3C;
    --success-green: #2ECC71;
    --transition-speed: 0.3s;
  }

.contact_complete{
  background-color: var(--primary-color);

}

.contact_container{
    display: flex;
    flex-wrap: wrap;
}


.contactUsCard_Component {
  display: flex;
  flex-direction: column;
  max-width: 100%;

}


.contactInfo_component {
  display: flex;  
  flex-direction: column;
  max-width: 100%;
  flex-wrap: wrap;
}

.google_map {
  flex: 2;
  max-width: 100%;
  box-sizing: border-box;
  /* border: 1% solid var(--secondary-color); */
  border-radius: 2%;
margin: 1%;
}

.contactVisitPics {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.visit_container {
  flex-direction: column;
  margin: 0% 0% 10% 10%;
}

.visit_title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--light-gray);
}

.visit_message {
  margin-top: 1%;
  color: var(--light-gray);
  font-size: 1em;
}

.whyGofer_container{
  color: var(--light-gray);
  flex-direction: column;
  align-content: center;

}

.reviews_container{
  display: flex;
  margin-left: 15%;
  margin-top: 2%;
  }

.whyGofer_title{
font-size: 1.5em;
margin-left: 1%;
}

.whyGofer_subtitle {
  color: var(--secondary-color);
  margin-left: 3%;
  font-weight: bold;
  font-size: 1em;
}

.whyGofer_text {
  margin-left: 5%;
  font-size: 1em;
  margin-right: 5%;
}


/*PICTURE CONTAINER*/
.contactpics_container {
  display: flex;
  /* justify-content:space-evenly ; */
  align-items: center;
  /* padding: 1%;  */
  flex-direction: column;
  /* flex: 2; */
}

.contact_pic {
  width: 40%; 
  height: 40%; 
  border-radius: 5%; 
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.contact_pic:hover {
  transform: scale(1.1);
}


.banner{
  max-width: 30%;
  max-height: 10%;
}


/*Adaptability*/

/* @media (max-width: 768px) {
  .contact_container {
    flex-direction: column;
  }

  .contactUsCard_component {
    max-width: 100%;
    flex: auto;
  }

  .contact_pic1,
  .contact_pic2 {
    max-width: 100%;
  }
} */

